.jumbotron{
    text-align: center; 
    background: none;
}

.WelcomeSection{
    background-color: rgb(139, 142, 145);
}
.DarkSection{
    background-color: rgb(181, 196, 196);
    padding: 2rem;
}
.modal-btn{
    display: block;
    margin: auto;
}
.SignInwapper{
    margin-top: 20px;
}
